---
### terminate AWS EC/2 instances
- hosts: localhost
  connection: local
  gather_facts: false
  user: root
  pre_tasks:
    - include_vars: variables.yml
  tasks:
    - name: Get EC2 instance IDs
      run_once: true
      ec2_remote_facts:
        filters:
          "tag:Role": "someRole"
        region: "us-east-2"
      register: instances

    - name: display instances
      run_once: true
      debug:
        var: instances

    - name: Remove registered instances
      run_once: true
      ec2:
        state: absent
        wait: true
        instance_ids: "i-0a80c19c0105e3bbb"
        region: "us-east-2"
      when: instances